body /*Definindo a cor de fundo e a fonte que será usada no site*/ {
  background-color: #ced2db;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}

h1,
h2 /*Defindindo a cor do Título 1 e 2*/ { 
  color: #0c1e42;
  text-align: center;
}

h3,
label /*Defindindo a cor do Título 3 e do label*/ {
  color: #1f3b72;
}

button /*Estilizando os botões que aparecem no site.*/ {
  width: 150px;
  background-color:#5f7cb4;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: #98ABD1;
}

ul,
ol{
  width: 90%;
}

li{
  margin-bottom: 5px;
}

#gerenciaTarefas /*Definindo os atributos da div maior onde ficam localizadas as quatro divs dos quatro forms quatro botões.*/ {

  display: flex; /* Largura e altura da div é flexível. */
  flex-wrap: wrap; /* Quebra a disposição horizontal dos elemetos dessa div se não houver espaço. */
  justify-content: center;
}

.tarefa /*Características/atributos gerais das divs*/ {
  width: 240px;
  display: none;
}

#campoTarefas{
  display: flex;
  justify-content: space-evenly;
}  

.listaTarefas{
  display: flex;
  flex-direction: column;
}

#botoes{
  display: flex;
  justify-content: center;
  gap: 20px;
}

input,
textarea,
select /*Definindo a largura e as bordas dos seletores*/ {
  width: 200px;
  border-radius: 5px;
  background-color: #98abd1;
  border: none;
  outline: none;
  padding: 5px;
}